TEAMSFX_ENV=local
APP_NAME_SUFFIX=local
OPENAPI_SERVER_URL=https://<your-devtunnel-id>-7071.usw2.devtunnels.ms
TEAMSFX_OPENAPI_SERVER_URL=http://localhost:7071
SHAREPOINT_DOCS_URL=https://(your-tenant).sharepoint.com/sites/(your-site)
